html { 
  background: url(../assets/backgrounds/food.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/slow.ttf);
}

@font-face {
  font-family: lie;
  src: url(../fonts/lie.otf);
}



#brand-logo{
  font-family: myFirstFont;
  font-size: 360%;
  color: #ff0800;
}

#recipe{
  color: #ff0800;
}

#nav-bar{
  margin-bottom: 70px;
}

.menu{
  margin: 0px 5px 10px 5px;
}

.all-recipes{
  border-radius: 30px;
  color: white;
  
}


.recipe-heading{
  font-family: myFirstFont;
  font-size: 400%;
  color: black;
}


.beef{
  background-color: rgba(255, 8, 0, 0.9);
}
.vegan{
  background-color: rgba(86,130,3, 0.9);
}

.chicken{
  background-color: rgba(235,138,18, 0.9);

}

.fish{
  background-color: rgba(250,128,114, 0.9);
}

.mutton{
  background-color: rgba(168,75,30, 0.9);
}

.unapproved{
  background-color: rgba(92, 92, 92, 0.9);
}
.recipe-heading-vegan{
  font-family: myFirstFont;
  font-size: 400%;
  color: #568203;
}

.btn-custom{  
  color: white;
  font-weight: bolder;
  border:white 1px solid;
}
.btn-custom-all{
  background-color: white;
  color: black;
  font-weight: bolder;
  border:black 1px solid;
}
.btn-custom-meat{
  background-color: #ff0800;
}
.btn-custom-chicken{
  background-color: #eb8a12;
}
.btn-custom-vegan{
  background-color: #568203;
}
.btn-custom-fish{
  background-color: #FA8072;
}
.btn-custom-mutton{
  background-color: #A84b1e;
}

.opener{
  text-align: center;
}

img {
  float: right;
  border-radius: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.titles{
  text-decoration: underline;
}



.btn-search{
  margin-left: 15px;
}

.submit-well{
  padding: 20px 20px 20px 20px;
  background-color: #568203;
}

.submit-form{
  color: black;
}

#btn-mod{
  margin-top: 10px;
}
