html { 
  background: url(../assets/backgrounds/food.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@font-face {
  font-family: myFirstFont;
  src: url(../fonts/slow.ttf);
}

@font-face {
  font-family: lie;
  src: url(../fonts/lie.otf);
}



#brand-logo{
  font-family: myFirstFont;
  font-size: 1200%;
  font-weight: bolder;
  color: #CC1000;
}

#recipe{
  color: #ff0800;
}

#nav-bar{
  margin-bottom: 70px;
  text-align: center;
}

.menu{
  margin: 0px 5px 10px 5px;
}

.recipes{
  border: #CC1000;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  margin: 100px auto;
  padding: 50px;
  padding-bottom: 30px;
  
  color: black;
  background-color: rgba(255, 8, 0, 0.9);
}


.recipe-heading{
  font-family: myFirstFont;
  font-size: 400%;
  color: #ff0800;
}

.recipes-vegan{
  border: #568203;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  margin: 100px auto;
  padding: 50px;
  padding-bottom: 30px;
  
  color: black;
  background-color: rgba(86,130,3, 0.9);
}

.recipe-heading-vegan{
  font-family: myFirstFont;
  font-size: 1200%;
  color: #568203;
  font-weight: bolder;
}

.btn-custom{  
  color: white;
  font-weight: bolder;
  border:white 1px solid;
}

.btn-custom-meat{
  background-color: #ff0800;
}

.btn-custom-vegan{
  background-color: #568203;
}

.opener{
  text-align: center;
}

img {
  float: right;
  border: inherit;
  border-style: solid;
  border-width: 2px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.titles{
  text-decoration: underline;
}

.titles-submit{
  text-decoration: underline;
  color: #ff0800;
}



.btn-search{
  margin-left: 15px;
}

.submit-well{
  padding: 20px 20px 20px 20px;
  background-color: #568203;
}

.submit-form{
  color: black;
}

.btn-mod{
  background-color: rgb(12, 138, 177);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
}